@page
@model Almacen.Pages.ClientesModel
@{
}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Direccion</th>
                <th>Telefono</th>
                <th>Correo</th>
                <th>Tipo de cliente</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cliente in Model.Clientes)
            {
                <tr>
                    <td>@cliente.Id</td>
                    <td>@cliente.Nombre</td>
                    <td>@cliente.Apellido</td>
                    <td>@cliente.Direccion</td>
                    <td>@cliente.Telefono</td>
                    <td>@cliente.Correo</td>
                    <td>@cliente.TipoCliente</td>
                </tr>
            }

        </tbody>
    </table>